table {
    margin: 2vh;
}

td {
    padding: 1vh;
    width: 8vw;
}

td input, textarea {
    width: 30vw;
}

.post-buttons {
    position: relative;
    width: 10vw;
    left: 30vw;
}

.post-tags {
    list-style-type: none;
}