{% extends 'base.html' %}

{% block title%}Edit {{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}

    <h1>Edit {{user.first_name}} {{user.last_name}}</h1>

    <form action="/users/{{user.id}}/edit" method="POST">
        First Name<input type="text" name="first_name" value="{{user.first_name}}">
        Last Name<input type="text" name="last_name" value="{{user.last_name}}">
        Image URL<input type="text" name="img_url" value="{{user.image_url}}">
        <button>Save</button>
    </form>

{% endblock %}