{% extends 'base.html' %}

{% block title %}New Post{% endblock %}

{% block content %}

<h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>

<form>
    <table>
        <tr>
            <td><label for="title">Title</label></td>
            <td><input type="text" name="title" placeholder="Title"></td>
        </tr>
        <tr>
            <td><label for="content">Content</label></td>
            <td><textarea type="text" name="content" placeholder="Content" rows="5"></textarea></td>
        </tr>
    </table>

    <ul class="post-tags">
    {% for tag in tags %}
        <li><input type="checkbox" name="tags" value="{{tag.id}}">{{tag.name}}</li>
    {% endfor %}
    </ul>

    <div class="post-buttons">
        <button formaction="/users/{{user.id}}" class="btn btn-danger">Cancel</button>
        <button formaction="/users/{{user.id}}/posts/new" formmethod="POST" class="btn btn-success">Add</button>
    </div>
</form>

{% endblock %}